.posts-list-card {
  list-style-type: none;
  padding: 0px;
  /* border: 10px solid green; */
  /* width: 100%; */
  /* max-width: 700px; */
  width: 100%;
  max-width: 500px;
}

.posts-loader-container {
  /* border-bottom: none; */
  width: 90%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 500px) {
  .posts-loader-container {
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #dbdbdb;
    border-bottom: none;
    background: #fff;
    flex: 1;
    max-width: 500px;
  }
  .posts-Failureview-card {
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #dbdbdb;
    background: #fff;
  }
}

.posts-Failureview-card {
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 20px;

  text-align: center;
}
.no-Search-results-View {
  text-align: center;
  /* border: 1px solid; */
  margin: auto;
}
.no-search-results-img {
  width: 70%;
  max-width: 500px;
}
.no-search-results-heading {
  color: #262626;
  text-align: center;
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.no-search-results-description {
  color: #989898;
  text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.posts-dark-theme {
  background-color: #0f0f0f;
}
.posts-light-theme {
  background-color: #f9f9f9;
}
.light-color {
  color: #262626;
}
.dark-color {
  color: #fff;
}
